<div class="container estilo_pagina_principal">
        <div class="col-sm-7 top_alargado" >
            <div class="row" >
                <div class="col-sm-12">
                    <label class="contenido_justificado"><span class="estilo_contenidos ">El libro </span><span class="estilo_titulos estilo_letra_cursiva">{{book.titulo}}</span><span class="estilo_contenidos"> fue agregado al carrito.</span></label>
                </div>
            </div>
            <div class="row" >
                <div class="col-sm-6">
                  <button type="button" (click)="irAInicio()" class="btn btn-primary btn-block active">seguir comprando</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" (click)="irACarrito()" class="btn btn-primary btn-block active"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;ir a carrito</button>
                  </div>
            </div>
        </div>
        <div class="col-sm-5 text-center" >
            <img [src]="book.foto" class="img-responsive estilo_imagen_principal"> 
        </div>
  </div>